.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"].itemInput {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif; /* 글꼴 변경 */
}

button.addButton {
  padding: 5px;
  background-color: #ff6347; /* 버튼 색상 변경 */
  color: white;
  border: 1px solid #ff6347; /* 버튼 색상 변경 */
  border-radius: 5px;
  cursor: pointer;
}

button.addButton:hover {
  background-color: #0070f3;
  color: white;
}
